asgiref
Babel
celery
channels
channels-redis
daphne
dateparser
django-celery-beat
django-celery-results
django-cryptography
django-cors-headers
django-countries
django-jazzmin
django-simple-history
django-timescaledb
Django==4.1.9
djangorestframework
djangorestframework-api-key
djangorestframework_recursive
djangorestframework_simplejwt
django_admin_rangefilter
django_debug_toolbar
django_environ
django_extensions
django_import_export
django_mptt
django_rest_passwordreset
django_rest_swagger
drf_spectacular
gunicorn
holidays
matplotlib
Naked
numba
numerize
numpy
oauth2client
paho_mqtt
pandas
pdf2image
pika
psycopg2-binary
PyNomaly
python_dateutil
pytz
redis
requests
scikit_learn
scipy
seaborn
selenium
statsmodels
streamlit
streamlit-chat
streamlit-extras
Twisted[http2]
Twisted[tls]
weasyprint
torch
openai
transformers
langchain
openai-whisper
SpeechRecognition
pydub
xgboost
xlsxwriter